body {
  background-color: #E7E7E7;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

h1 {
  text-align: center;
}

input {
  margin: 5px;
  min-height: 22px;
  font-size: 14px;
  width: 200px;
}

button {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  outline: none;
  font-size: 14px;

  &.selected {
    background-color: #B9B9B9;
  }
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(120, 120, 120, .7);
  width: 100% !important;
  .contact-form {
    width: 870px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 6px 2px #6f6f6f;
    display: flex;
    flex-wrap: wrap;
    background-color: #F9F9F9;
    justify-content: center;
    padding: 30px;
    .title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.contact-list {
  margin: auto;
  width: 90%;
  .header {
    display: flex;
    margin: 5px;

    div {
      width: 50%;
      text-align: left;
    }
    form {
      width: 50%;
      text-align: right;
    }
  }
  ul {
    background-color: #B9B9B9;
    list-style: none;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0px 0px 6px 2px #6f6f6f;
    li {
      background-color: #F9F9F9;
      margin: 5px;
      padding: 5px;
      display: flex;
      overflow: hidden;
      min-height: 40px;

      div {
        width: 33.33%;
        margin: auto;

        &.name {
          font-weight: bold;
        }
        &.email {
          text-align: right;
        }
        &.phone {
          text-align: center;
        }
      }

      i {
        display: none;
        line-height: 40px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 25px;
      }
      &:hover {
        .remove-btn {
          display: block;
          color: #CB0000;
        }
        .edit-btn {
          display: block;
          color: #6F6F6F;
        }
      }
    }
  }
}
